/* make scrolling smooth */

html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* nav2 */

.nav{
    background-color: #3C322E;;
    color: #E64A01;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.nav__toggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right:0;
}

svg{
    width:1.5rem;
    fill: #E64A01;
}

.close{
    display: none;
}

.menu{
    margin-top: 0.2rem;
}

.nav__checkbox{
    display: none;
}

.nav__menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
}

.navbar-links li {
    list-style: none;
    display: block;
    padding: 0.5em 0;
}

/* navigation list */

.nav li {
    list-style: none;
    display: none;
    padding: 0.5em 0;
}

.nav li:first-child{
    margin-right: auto;
    display: block;
}

.nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}

.nav a {
    color: #E64A01;
    background-color: #3C322E;
    font-size: 1.5rem;
    padding: 1rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
}

.nav a:hover,
.nav a:focus {
    color: #3C322E;
    background-color: #E64A01;
    border-radius: 10px;
    outline: none;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 14vw;
    width: 14vw;
}

.logo h1 {
    font-size: 1.2em;
}

.nav__checkbox:checked ~ ul.nav__menu li {
    display: block;


}

.nav__checkbox:checked ~ label.nav__toggle .close{
    display: block;
}

.nav__checkbox:checked ~ label.nav__toggle .menu{
    display: none;
}

/* 
Desktop view 
*/

@media only screen and (min-width:560px){
    .nav__toggle{
        display: none;
    }

    .nav__menu{
        flex-direction: row;

        li{
            display: block;
        }
    }
}